.menu-btn{
		color:green;
		height:20%;
}
body{
		background-color:burlywood;
}
.introduction h2{
		align:center;
}
.introduction{
		border:solid 3px gold;
		border-radius:5%;
		font-style:italic;
}
.pic img{
		 display:block;
		 margin:0 auto;
		 width:200px;
		 length:200px;
		 border-radius:100%;
}
.pic {
		text-align:center;
}
.submit{
		color:orange;
		align-self: center;
}
footer{
		background-color:orange;
		text-align:center;
}
.school-subjects, .forex, .cars{
		background-color:lightblue;
		width:90%;
		color:white;
		margin:0 auto;
}
.programming, .history,.food{
		background-color:lightgreen;
		width:90%;
		color:white;
		margin: 0 auto;
}
a {
		text-decoration :none;
		color:inherit;
}


.profile img{
  border-radius:100%;
}
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
		 background-color:brown;
	 	border-radius:20px;
}


.title {
  text-align: center;
  flex-grow: 1;
}

.sidebar-btn {
  /* styles for sidebar button */
}
.sidebar-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background: yellow;
  transform: translateX(100%);
  transition: transform 0.3s ease;
		 text-align:center;
		 z-index:100;
}

.sidebar-menu.show {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.overlay.show {
  display: block;
}